.section-landing-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0;

  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.search {
  height: 50rem;
  width: 70%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url('../images/colorado.jpg');
  background-size: cover;
  background-position: center center;

  &__form {
    width: 60%;
    padding: 6rem;
  }
}
