<section class="section-landing-hero">
  <div class="hero"><h1 class="heading-hero">PR Info</h1></div>
</section>

<section class="section-landing-search">
  <div class="search">
    <form class="search__form" action="/repo" method="GET">
      <h2 class="heading-secondary mb-3">Search for a Repo</h2>
      <div class="form__group">
        <input
          type="url"
          name="repoUrl"
          id="repoUrl"
          class="form__input"
          placeholder="https://github.com/"
          required
        />
        <label class="form__label" for="repoUrl">Repo URL</label>
      </div>
      <button class="btn btn--blue">Search &rarr;</button>
    </form>
  </div>
</section>
