$color-white: #fff;
$color-black: #000;
$color-primary: #28d0ff;
$color-primary-dark: #0096bf;
$color-secondary: #28ffbb;
$color-secondary-dark: #094a35;
$color-grey-dark: #999;
$color-grey-dark-2: rgb(58, 58, 58);
